.body {
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    align-items: center;
    gap: 20px;
    background-color: lightyellow;
    height: 500px;
    width: 200px;
}
.box{
    height: 50px;
    width: 50px;
    background-color: coral;
    text-align: center; 
    margin: auto;
    padding: 10px;
    font-size: 28px;
    color: white; 
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.nav{
    margin-left: 20px;
    text-align: center;
    height: 100px;
    width: 345.5px;
    background-color: #333333;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.nav-links-item{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.nav-links-item:hover{
    background-color: #a3a3a3;
    border-radius: 5px;
}
.profile-card{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 5px;
    align-items: right;
    column-count: 2;
    background-color: #515151;
    color: #c0c0c0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 335.5px;
    border-radius: 10px;
    box-shadow: 0, 8px, 16px,;
    display: table;

}
.profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}
.profile-info{
    
    align-items: center;
    text-align: center;
    column-count: 1;
}
h2{
    font-size: 28px;
    color: #cecece;    
}
p{
    font-size: 14px;
    color: #a5a5a5;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.social-links{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}
.social-link{
    color: #007bff;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.social-link:hover{
    text-decoration: underline;
}